<button class='btn btn-success'>
	<%= link_to 'Chat Demo', { controller: 'home', action: 'chat_demo' }, method: 'get' %>
</button>

<button class='btn btn-default'>
	<%= link_to 'Hello World Example', { controller: 'home', action: 'hello_world' }, method: 'get' %>
</button>

<button class='btn btn-primary'>
	<%= link_to 'Video Call', { controller: 'home', action: 'video_call' }, method: 'get' %>
</button>